* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
a,
p {
  font-family: 'Poppins', sans-serif;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-left: 10%;
}

.ul {
  display: flex;
  list-style: none;
  gap: 30px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 8%;
}

.nav_bar li a {
  text-decoration: none;
  color: #344563;
}

.burger-icon {
  display: none;
  margin-right: 8%;
}

@media (max-width: 768px) {
  .burger-icon {
    display: flex;
  }

  .ul {
    display: none;
  }
}

@media (max-width: 375px) {
  .burger-icon {
    display: flex;
  }

  .ul {
    display: none;
  }
}

.main {
  background-image: url("img/header-shapes\ mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  font-style: normal;
  margin: 0 auto 50px;
  min-width: 357px;
  width: 80%;
}

.text h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  color: #172b4d;
  margin: 0 0 12px;
}

.text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #344563;
  margin: 6px 0;
}

#lets-con {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.img-icons {
  gap: 14px;
  display: flex;
  margin: 10px 0;
  list-style: none;
  padding-left: 0;
}
/* the work section of the site */
#work-section{
    display: grid;
    grid-template-rows: 592px 520px 592px 520px 90px;
    grid-row-gap: 230px ;
    width: 80%;
    margin: 100px auto 0;
    justify-content: center;

}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.align-text{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: start;
  width: 300px;
  height: 288px;
}

.h2-size{
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #172B4D;
}
    
.work-p{
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}
.first-list{
  display: flex;
  list-style: none;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
  gap: 40px;
  padding-left: 0;
}
.blue-list{
  display: flex;
  list-style: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 12;
  line-height: 16px;
  padding: 0;
  gap: 30px;
}
.work-btn{
  width: 120px;
  height: 100px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396DF2;
  padding: 12px 0;
  margin: 12px 0;
}

.btn:hover{
  background-color:#6070FF;
  border-radius: 6px;
}
.btn:active{
 background-color: #2230D2;
 border-radius: 6px;
}
.btn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.about{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.about h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.about p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563
}
#ltsconnct{
  font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7F8CFF;
}

.about-btn{
  width: 146px;
  height: 44px;
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
  color: #396DF2;
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}
.about-languages{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  font-weight:500 ;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  margin: 8px auto;
  color: #253858;
  width: 80%;
}
.iconss{
  width: 15px;
  height: 14px;
}
.container {
  display: flex;
  justify-content: flex-start;
}

.lang-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 35px;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.lang p {
  color: #253858
}

#im{
  margin-left: 40px;
}








