* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

h1,
h2,
a,
p {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 0.4em;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 10%;
  color: #6070ff;
  cursor: pointer;
}

.ul {
  display: none;
  list-style: none;
  font-weight: 500;
  margin-right: 9%;
}

.nav_bar li a {
  text-decoration: none;
  color: #344563;
  transition: all 0.3s ease-in-out;
  font-size: 1.3rem;
}

.burger {
  display: none;
  cursor: pointer;
  margin: 1.2rem 8% 0 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.bar.active {
  background-color: #fff;
}

.main {
  background-image: url("img/header-shapes\ mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main.active {
  filter: blur(4px);
}

.text {
  margin: 1rem auto 50px;
  width: 80%;
}

.modal {
  width: 90%;
  display: none;
  flex-direction: column;
  margin: 2.6rem auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 0.7rem;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
}

.modal.active {
  display: flex;
}

.modal-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid {
  cursor: pointer;
}

.modal-para {
  font-size: 0.9rem;
  color: #344563;
  line-height: 1.5rem;
}

.modal-para2 {
  display: none;
}

.modal-h1 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

.modal-first-list {
  margin: 1.2rem 0;
  padding: 0;
  display: flex;
  color: #344563;
  font-weight: 600;
  font-size: 0.8rem;
  gap: 30px;
  padding-left: 0;
}

.modal-blue-list {
  margin-top: 0.5rem;
  padding: 0;
  display: flex;
  list-style: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  gap: 20px;
  padding-left: 0;
}

.modal-blue-list2 {
  display: none;
}

.modal-blue-list li {
  background-color: #ebebff;
  padding: 4px 14px;
  border-radius: 1em;
}

.modal-btn {
  padding: 10px 8px;
  width: 8.2em;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #396df2;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 0.4em;
  cursor: pointer;
  margin: 2.5rem 0 0.4rem;
}

.modal-btn-flex {
  display: flex;
  gap: 1rem;
}

.modal-img {
  width: 100%;
  min-height: 34%;
  margin: 0.3rem 0;
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .burger.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }

  .burger.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .nav_bar.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    opacity: 0.9;
    background-color: #6070ff;
  }

  .ul {
    display: none;
    align-items: start;
    flex-direction: column;
    padding-left: 0;
    position: relative;
    right: 5rem;
    top: 100px;
    gap: 2rem;
  }

  .nav_bar li a {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
  }

  .nav_bar {
    align-items: start;
  }
}

.text h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  color: #172b4d;
  margin: 0 0 12px;
}

#p-1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  color: #344563;
  margin: 6px 0;
}

#lets-con {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #7f8cff;
}

.img-icons {
  display: flex;
  margin: 10px 0;
  list-style: none;
  padding-left: 0;
  gap: 1.2em;
}

/* the work section of the site */
#work-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 90px;
  grid-gap: 6em;
  width: 100%;
  margin: 6em auto 0;
  justify-content: center;
  align-items: center;
  padding: 1em 1.3em;
}

.cards1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #fefefe;
  border: 1px solid #cbccd0;
  border-radius: 0.7em;
  padding: 0.6em 1em;
  width: 100%;
}

.align-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.card-img {
  width: 100%;
}

.h2-size {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  color: #172b4d;
  margin: 0.75em 0 0.6em;
}

.work-p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  margin: 0.8em 0 0.4em;
}

.first-list {
  display: flex;
  color: #344563;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  gap: 30px;
  padding-left: 0;
  margin: 0.6em 0 0.3em;
}

.list1 {
  list-style: none;
}

.list2 {
  opacity: 0.5;
}

.blue-list {
  display: flex;
  list-style: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  gap: 20px;
  padding-left: 0;
}

.blue-list li {
  background-color: #ebebff;
  padding: 4px 14px;
  border-radius: 1em;
}

.work-btn {
  width: 7.4em;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #396df2;
  padding: 0.7em 0;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 0.4em;
  margin-top: 0.57em;
  display: inline;
  cursor: pointer;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* the about section */

#about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.about h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

.about p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

#ltsconnct {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
}

.about-btn {
  width: 9.15em;
  height: 2.75em;
  gap: 0.7em;
  text-align: center;
  margin-bottom: 1.25em;
  color: #396df2;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5em;
  border: 1px solid #6070ff;
  border-radius: 0.4em;
}

.about-languages {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0.5em auto;
  color: #253858;
  width: 80%;
}

.bor-bot {
  border-bottom: 3px solid #dfe1e6;
}

#last-icons {
  padding-left: 3%;
}

.iconss {
  width: 0.9em;
  height: 0.8em;
}

.container {
  display: flex;
  justify-content: flex-start;
}

.lang-icon {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  gap: 35px;
  padding-left: 10px;
  margin-left: 10%;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-style: normal;
}

.lang p {
  opacity: 0.8;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

#im {
  margin-left: 40px;
}

/* the contact me form section */

#footer-container {
  min-height: 48.75em;
  width: 100%;
  background-color: #6070ff;
  margin: 10.875em auto 0;
  border-radius: 6em 0 0 0;
  background-image: url("img2/contact\ form\ shapes-mobile@2x.png");
  background-position: right;
  background-size: 58%;
  background-repeat: no-repeat;
  padding-top: 1em;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 4.125em 1.5em 0;
  text-align: center;
  gap: 1.25em;
}

#form h2 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 0;
  color: #fff;
}

#form p {
  color: #ebebff;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#form input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  height: 3em;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 1.25rem;
  color: #172b4d;
  padding-left: 0.95em;
}

#form textarea {
  color: #b3bac5;
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 1.5rem;
  height: 10.7em;
  padding: 0.875em 0 0 0.75em;
  border: 1px solid #cfd8dc;
  border-radius: 0.5em;
}

#form textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

#form button {
  text-align: center;
  width: 7.5em;
  color: #6070ff;
  padding: 0.75em 1em;
  font-weight: 500;
  font-size: 1.06rem;
  line-height: 1rem;
  border-radius: 0.5em;
  border: 0;
}

#form button:hover {
  background-color: #7f8cff;
  color: #ebebff;
}

#form button:active {
  background-color: #2230d2;
}

#error {
  width: 660px;
  height: 60px;
  color: #fff;
  position: relative;
  background-color: #af0101;
  top: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 10px;
  border-radius: 5px;
}

.error-close {
  position: relative;
  left: 80px;
  bottom: 2px;
}

@media (min-width: 768px) {
  .ul {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 9%;
    gap: 1.2rem;
  }

  .main {
    background-image: url("img/Header\ bg@2x.png") !important;
    background-size: contain;
  }

  .modal-close {
    display: flex;
    align-items: center;
  }

  .modal-img {
    width: 100%;
    margin: 0.8rem auto;
  }

  .modal-text {
    display: flex;
    align-items: start;
    gap: 0.6rem;
    margin-top: 1.2rem;
  }

  .modal-para {
    display: none;
  }

  .modal-h1 {
    padding: 0;
    margin: 0;
  }

  .modal-first-list {
    margin: 0;
    padding: 0;
  }

  .modal-para2 {
    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
  }

  .modal-blue-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .modal-blue-list2 {
    display: flex;
  }

  #work-section {
    grid-row-gap: 2.2em;
  }

  .cards1 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 8em;
    min-width: 82vw;
    min-height: 49vh;
    transition: 0.4s ease;
  }

  .cards2 {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 8em;
    min-width: 82vw;
    min-height: 49vh;
    transition: 0.4s ease;
  }

  .cards2:hover {
    transform: scale(1.1);
  }

  #cards2 {
    flex-direction: row-reverse;
  }

  #cards4 {
    flex-direction: row-reverse;
  }

  .align-text {
    width: 50%;
    padding: 0 0 8em 1.5em;
  }

  .card-img {
    width: 50%;
  }

  .first-list {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 0;
  }

  .h2-size {
    font-size: 2.5rem;
    line-height: 3.2rem;
    margin-bottom: 0;
  }

  .work-p {
    margin: 0;
  }

  .work-btn {
    margin: 0;
  }

  .text {
    width: 68vw;
    padding-top: 2em;
    margin: 2em auto 0;
  }

  #p-1 {
    font-size: 1.25rem;
    line-height: 1.7rem;
    padding-bottom: 1.1em;
  }

  .parent-about {
    display: flex;
    gap: 2%;
  }

  #about {
    width: 40%;
    padding-left: 8%;
    justify-content: space-around;
  }

  .about-languages {
    margin-left: 0;
  }

  .child-about {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .container {
    justify-content: start;
  }

  .lang-icon {
    flex-direction: row;
    padding-left: 0;
    margin-left: 0;
  }

  .lang {
    flex-direction: column;
    align-items: start;
  }

  #js-icon {
    margin-left: 0;
  }

  .footer-container {
    min-height: 53.87em;
    background-image: url("img2/contact\ form\ background\ shapes@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4.8em 1.5em 0;
    text-align: center;
    gap: 1.25em;
    max-width: 44em;
    margin: 0 auto;
  }

  #form button {
    margin: 0 auto;
  }
}
